@import "theme.css";

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient($color-3, $color-4);
    font-family: -apple-system, "San Francisco", Helvetica, Arial, sans-serif;
    font-size: $font-size;
}

.app {
    max-width: 600px;
    margin: 0.5em;
}